<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慈园阁</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/footer/fw.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/nav.css">
</head>
<body>
	<div class="home">
		<div class="head">
			<div class="head-left">
				<ul>
					<li>欢迎来到慈园阁！</li>
					<li><a href="">登录</a></li>
					<li><a href="">免费注册</a></li>
				</ul>
			</div>
			<div class="head-right">
				<ul>
					<li><a href="">手机版 <img src="__PUBLIC__/Home/images/shouji.jpg" alt=""></a></li>
				<li class="head-nav"><a href="">联系客服 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					    <ul>
					    	<li><a href="">联系客服</a></li>
					    	<li><a href="">联系客服</a></li>
					    </ul>
			   </li>
					<li><a href=""><img src="__PUBLIC__/Home/images/gouwu.jpg" alt="" style="float: left;"> 购物车0件</a></li>
				<li class="head-nav"><a href="">会员中心 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					   <ul>
					    	<li><a href="">会员中心</a></li>
					    	<li><a href="">会员中心</a></li>
					   </ul>
				</li>
				</ul>
			</div>
		 </div>	
		 <div class="head-top">
		 	<div class="head-logo">
		 		<!--奉请热线文字图-->
		 	</div>
		 </div>	
		 <div class="nav">
		 	<ul>
		 		<!--引入导航条-->
				<include file="Public/menu" /> 
		 	</ul>
		 </div>
		 <div class="content">

         <div class="section-1">
         <!--导航背景图-->
             <div class="section-1-box">
	           <ul>
		           <li><a href="javascript:;" class="section-1-active">走进慈园阁</a>
			           <ul class="section-1-active-none">
			              <li><a href="#">最新动态</a></li>
				          <li><a href="#">品牌介绍</a></li>
				          <li><a href="#">法师结缘</a></li>
				          <li><a href="#">联系方式</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">品质保证</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">开光证书</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">服务体系</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">服务承诺</a></li>
				           <li><a href="#">退换货条款</a></li>
				           <li><a href="#">服务时间</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">其他说明</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">配送说明及包装方式</a></li>
				           <li><a href="#">本命佛包装及附件</a></li>
				           <li><a href="#">常见问题解答</a></li>
			           </ul>
		           </li>
	           </ul>
	         </div>
         </div>

		 <div class="section-2">
		     <div class="section-2-box">
                 <div class="section-2-box-1">
                 <img src="__PUBLIC__/Home/images/footer/fw1.jpg" alt="">
                 <div class="section-2-solid"></div><br/>
                 	<p>电话以及在线客服：</p>
                 	<p>周一至周日早9:30至夜间18点</p>
                 	<p>春节等节假日以网站公告为准</p>
                 </div>
             </div>
		 </div>
	
		</div>
   </div>
    <!--所有主页内容结束-->
		<!--引入脚部-->
		<include file="Public/footer" /> 
 
		 <p class="footer-end">慈园阁十二生肖本命佛</p><br/>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/footer.js"></script>
</body>
</html>