<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慈园阁</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/footer/ppjs.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/nav.css">
</head>
<body>
	<div class="home">
		<div class="head">
			<div class="head-left">
				<ul>
					<li>欢迎来到慈园阁！</li>
					<li><a href="">登录</a></li>
					<li><a href="">免费注册</a></li>
				</ul>
			</div>
			<div class="head-right">
				<ul>
					<li><a href="">手机版 <img src="__PUBLIC__/Home/images/shouji.jpg" alt=""></a></li>
				<li class="head-nav"><a href="">联系客服 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					    <ul>
					    	<li><a href="">联系客服</a></li>
					    	<li><a href="">联系客服</a></li>
					    </ul>
			   </li>
					<li><a href=""><img src="__PUBLIC__/Home/images/gouwu.jpg" alt="" style="float: left;"> 购物车0件</a></li>
				<li class="head-nav"><a href="">会员中心 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					   <ul>
					    	<li><a href="">会员中心</a></li>
					    	<li><a href="">会员中心</a></li>
					   </ul>
				</li>
				</ul>
			</div>
		 </div>	
		 <div class="head-top">
		 	<div class="head-logo">
		 		<!--奉请热线文字图-->
		 	</div>
		 </div>	
		 <div class="nav">
		 	<ul>
		 		<!--引入导航条-->
				<include file="Public/menu" /> 
		 	</ul>
		 </div>
		 <div class="content">

         <div class="section-1">
         <!--导航背景图-->
             <div class="section-1-box">
	           <ul>
		           <li><a href="javascript:;" class="section-1-active">走进慈园阁</a>
			           <ul class="section-1-active-none">
			              <li><a href="#">最新动态</a></li>
				          <li><a href="#">品牌介绍</a></li>
				          <li><a href="#">法师结缘</a></li>
				          <li><a href="#">联系方式</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">品质保证</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">开光证书</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">服务体系</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">服务承诺</a></li>
				           <li><a href="#">退换货条款</a></li>
				           <li><a href="#">服务时间</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">其他说明</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">配送说明及包装方式</a></li>
				           <li><a href="#">本命佛包装及附件</a></li>
				           <li><a href="#">常见问题解答</a></li>
			           </ul>
		           </li>
	           </ul>
	         </div>
         </div>

		 <div class="section-2">
		     <div class="section-2-box">
                 <div class="section-2-box-1"><br/>
                 <img src="__PUBLIC__/Home/images/footer/ppjs1.png" alt="">
                 <div class="section-2-solid"></div><br/>
                 	<p>……阎浮堤外，四方海中，有十二兽，并是菩萨化导，人道初生，当菩萨住窟，即属此兽护持、得益，故汉地十二辰依此行也。……——大正藏第53册《法苑珠林》 
	                   ……是十二兽。昼夜常行阎浮提内。天人恭敬。功德成就已。于诸佛所发深重愿一日一夜。常令一兽游行教化。余十一兽安住修慈。周而复始。七月一日鼠初游行。以声闻乘教化一切鼠身众生。令离恶业劝修善事。如是次第至十三日。鼠复还行。如是乃至尽十二月。至十二岁。亦复如是。常为调伏诸众生故。善男子。是故此土多有功德。乃至畜生亦能教化。演说无上菩提之道。是故他方诸菩萨等。常应恭敬此佛世界……——《大方等大集经》 

	                   慈园阁的居士在研究佛教典籍时，发现了佛教密宗的十二生肖本尊，由于众生根器不同、因缘不同，也需以不同方式接引。慈园阁的居士感到，如果有善男信女能由“本命佛”而能亲近佛法、供养诸佛菩萨，结佛法善缘，未来世中，此因缘种子成熟时，必定也会成就无上智慧，遂发愿弘扬。并于此后一直致力于佛法和本命佛文化的弘扬及普及，弘扬吉祥文化，传播吉祥礼法。
 
                       慈园阁始终专注为缘主提供精准的流年流月预测改运建设，提供真正开光的吉祥札，凭措专业、专注的服务态度，和卓越的产品品质，得到了广大缘友的认可与厚爱。佛家有云：缘起不灭，慈园阁以开光吉祥礼为缘起积极投入公益为缘主积德，真心为缘主祈求福报，待与您兮生结下善缘。</p>
                 </div>
                 <div class="section-2-box-2">
                 <img src="__PUBLIC__/Home/images/footer/ppjs2.png" alt="">
                 <div class="section-2-solid"></div><br/>
                 	<p>　　“慈园阁，吉祥札”，不仅仅是吉祥礼品，所要表达和倡导的是一种人们追求吉祥的生活态度、一套帮助人们达成吉祥心愿的礼法，更是一种心中有佛、道法自然、敬无爱
                 	   人的吉祥文化。
　　                 “吉祥”，又称为吉羊，是诸如来佛号用词之一，常出现于诸佛教经典中，2500年前释迦牟尼成道时即坐于吉祥草上。通俗而言、吉祥则是通过祭祀礼遇祖先神佛，从而祈求
                      趋吉避凶，平平安安，顺顺利利的状态。
　　                  何为“礼”'其义是举行仪礼，祭神求：福。“礼’所囊括和包客的内涵由实到虚，：润泽千古，上至古代的礼仪，下至现今的普罗礼教，故中国自古就被称为礼仪之邦。所以
                       ，”礼“已经不仅便是简单的礼品了，而是包涵了礼仪、尊敬、行为准则等内容的礼法，是人类正明精华的标志，早巳深深融入：到老百姓的寻常生活里了。</p>
                 </div>
             </div>
		 </div>
	
		</div>
   </div>
    <!--所有主页内容结束-->
		<!--引入脚部-->
		<include file="Public/footer" /> 
		 <p class="footer-end">慈园阁十二生肖本命佛</p><br/>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/footer.js"></script>
</body>
</html>