<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慈园阁</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/footer/tk.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/nav.css">
</head>
<body>
	<div class="home">
		<div class="head">
			<div class="head-left">
				<ul>
					<li>欢迎来到慈园阁！</li>
					<li><a href="">登录</a></li>
					<li><a href="">免费注册</a></li>
				</ul>
			</div>
			<div class="head-right">
				<ul>
					<li><a href="">手机版 <img src="__PUBLIC__/Home/images/shouji.jpg" alt=""></a></li>
				<li class="head-nav"><a href="">联系客服 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					    <ul>
					    	<li><a href="">联系客服</a></li>
					    	<li><a href="">联系客服</a></li>
					    </ul>
			   </li>
					<li><a href=""><img src="__PUBLIC__/Home/images/gouwu.jpg" alt="" style="float: left;"> 购物车0件</a></li>
				<li class="head-nav"><a href="">会员中心 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					   <ul>
					    	<li><a href="">会员中心</a></li>
					    	<li><a href="">会员中心</a></li>
					   </ul>
				</li>
				</ul>
			</div>
		 </div>	
		 <div class="head-top">
		 	<div class="head-logo">
		 		<!--奉请热线文字图-->
		 	</div>
		 </div>	
		 <div class="nav">
		 	<ul>
		 		<!--引入导航条-->
				<include file="Public/menu" /> 
		 	</ul>
		 </div>
		 <div class="content">

         <div class="section-1">
         <!--导航背景图-->
             <div class="section-1-box">
	           <ul>
		           <li><a href="javascript:;" class="section-1-active">走进慈园阁</a>
			           <ul class="section-1-active-none">
			              <li><a href="#">最新动态</a></li>
				          <li><a href="#">品牌介绍</a></li>
				          <li><a href="#">法师结缘</a></li>
				          <li><a href="#">联系方式</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">品质保证</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">开光证书</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">服务体系</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">服务承诺</a></li>
				           <li><a href="#">退换货条款</a></li>
				           <li><a href="#">服务时间</a></li>
			           </ul>
		           </li>
		           <li><a href="javascript:;" class="section-1-active">其他说明</a>
			           <ul class="section-1-active-none">
				           <li><a href="#">配送说明及包装方式</a></li>
				           <li><a href="#">本命佛包装及附件</a></li>
				           <li><a href="#">常见问题解答</a></li>
			           </ul>
		           </li>
	           </ul>
	         </div>
         </div>

		 <div class="section-2">
		     <div class="section-2-box">
                 <div class="section-2-box-1"><br/>
                 	<p>重要说明：收到圣品时，需要善心的你，帮我们完成最终检验。</p><br/>
                 	<p>慈园阁在圣品寄送时，均采用严密的防震包装。但由于运输的不确定性，如果您收到圣品发现质量问题，请务必在签收当时联系我们，经过确认后予以调换。</p><br/>
                 	<p>因为玉石工艺类属于易碎品，请务必签收当时联系，逾期因责任难以界定，将不予以受理。多谢您的配合！感恩合十！</p>
                 </div>
                 <div class="section-2-box-2">
                 <img src="__PUBLIC__/Home/images/footer/156156156.png" alt="">
                 <div class="section-2-solid"></div><br/>
                 	<p>因为玉石工艺品等属于易碎品，您在收到圣品时请立即由快递员见证拆包验货（货到付款在付款后由快递员见证拆包验货），发现有空包、破损等质量问题，务必在签收拆包当时与我们联系，逾期因责任难以界定，将不予以受理。敬请理解！感恩您的配合！</p><br/>
                 	<p>经过协商的任何圣品的退换，必须保持原圣品、吊牌、包装等完好无损，含有检测证书的圣品，必须保持检测编号、检测证书完好无损，如请购时附有赠品，赠品需同条件一并退回。感恩您的配合！</p><br/>
                 	<p>经过协商的任何圣品的退换，发回时请采用防震包装，多塞填充物，以防止圣品晃动、摩擦造成损坏或磨损，如果发回的圣品有人为损坏或快递运送损坏，将不能受理。感恩您的配合！所有退换均须采用快递送上门，因人力所限，世缘阁总部不受理包裹、平邮等自提方式。感恩您的配合！</p><br/>
                 	<p>如果经确认发回运费需由本站承担，本站承担的最高发回运费为人民币20元。</p>
                 </div>
                 <div class="section-2-box-2">
                 <img src="__PUBLIC__/Home/images/footer/15161651.png" alt="">
                 <div class="section-2-solid"></div><br/>
                 	<p>赠品不论何种原因，均不受理退换。敬请理解。</p><br/>
                 	<p>特价品及免费品，均不受理退换。如果坚持退换，需经总部同意，并且来回快运费均需自付。敬请理解。</p>
                 </div>
                 <div class="section-2-box-2">
                 <img src="__PUBLIC__/Home/images/footer/15561561.png" alt="">
                 <div class="section-2-solid"></div><br/>
                 	<p>佩绳、佩盒等附件均属于免费赠送的易耗品，不论何种原因，均不受理退换，敬请理解。</p>
                 </div>
             </div>
		 </div>
	
		</div>
   </div>
    <!--所有主页内容结束-->
		<!--引入脚部-->
		<include file="Public/footer" /> 
 
		 <p class="footer-end">慈园阁十二生肖本命佛</p><br/>
	</div>
	<script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/footer.js"></script>
</body>
</html>