<div class="head">
			<div class="head-left">
				<ul>
					<li>欢迎{$Think.session.user_name}来到慈园阁！</li>
					<li><a href="{:U('Login/index')}">登录</a></li>
					<li><a href="{:U('Login/index')}">免费注册</a></li>
				</ul>
			</div>
			<div class="head-right">
				<ul>
					<li><a href="">手机版 <img src="__PUBLIC__/Home/images/shouji.jpg" alt=""></a></li>
				<li class="head-nav"><a href="">联系客服 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					    <ul>
					    	<li><a href="">联系客服</a></li>
					    	<li><a href="">联系客服</a></li>
					    </ul>
			   </li>
					<li><a href=""><img src="__PUBLIC__/Home/images/gouwu.jpg" alt="" style="float: left;"> 购物车0件</a></li>
				<li class="head-nav"><a href="">会员中心 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					   <ul>
					    	<li><a href="">会员中心</a></li>
					    	<li><a href="">会员中心</a></li>
					   </ul>
				</li>
				</ul>
			</div>
		 </div>	