       <!-- 包含头部 -->
        <include file="Public/header" />
        <!-- 侧边导航栏 -->
        <include file="Public/menu" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 添加商品<small></small></div>
                        <p class="page-header-description">请注意格式</p>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">


               
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">添加分类</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br" action="{:U('any_add')}" method="post" >
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">请选择已经添加的商品名(大分类)<span class="tpl-form-line-small-title">name</span></label>
                                        <div class="am-u-sm-9">
                                           <!-- <input type="text" class="tpl-form-input"  name="name" id="name" placeholder="请输入分类名称">-->
                                           <select data-am-selected="{searchBox: 1}" style="display: none;" name="class">
                                                <volist name="goods" id="goods">
                                                <option value="{$goods.goods_num}">{$goods.goods_name}</option>
                                                </volist>  
                                            </select>
                                            <small>必填,最长20字。</small>
                                        </div>
                                    </div>
                                 

                                    <div class="am-form-group">
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">该商品的生肖(小分类)<span class="tpl-form-line-small-title">any</span></label>
                                        <div class="am-u-sm-9">
                                            <select data-am-selected="{searchBox: 1}" style="display: none;" name="any">
                                              <option value="鼠">鼠</option>
                                              <option value="牛">牛</option>
                                              <option value="虎">虎</option>
                                              <option value="兔">兔</option>
                                              <option value="龙">龙</option>
                                              <option value="蛇">蛇</option>
                                              <option value="马">马</option>
                                              <option value="羊">羊</option>
                                              <option value="猴">猴</option>
                                              <option value="鸡">鸡</option>
                                              <option value="狗">狗</option>
                                              <option value="猪">猪</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">生肖款号<span class="tpl-form-line-small-title">{如无，可以不添加}</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="num" placeholder="输入生肖款号">
                                            <small>商品款号必须填!</small>
                                        </div>
                                    </div>

                                     <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">商品款式<span class="tpl-form-line-small-title">{如无，可以不添加}</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="kuanshi" placeholder="输入生肖款号">
                                            <small>添加多个请用 | 号隔开。 如款式A|款式B</small>
                                        </div>
                                    </div>

                                      <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">发布者<span class="tpl-form-line-small-title">class_admin</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="fabuzhe" value="{$Think.session.login_name}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

               


            </div>
        </div>
    </div>
    </div>
    <script src="__PUBLIC__/assets/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/assets/js/amazeui.datatables.min.js"></script>
    <script src="__PUBLIC__/assets/js/dataTables.responsive.min.js"></script>
    <script src="__PUBLIC__/assets/js/app.js"></script>

</body>

</html>