<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慈园阁</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Sj/css/gouwuche/gwsuccessful.css">
</head>
<body>
	<div class="home">
  <div class="content">   <!--内容白色背景-->
    <div class="section-2">
        <div class="section-2-box">
            <div class="section-2-left">
            <img src="__PUBLIC__/Sj/images/15166664.jpg" alt="">
            </div>
                <h4>订单提交成功</h4>
                <p>我们将在24小时内电核实您的资料</p>
                <p>请保持电话畅通。</p>
        </div>        
     </div>   
         <div class="money-btn"><a href="">返回首页</a></div> 
   </div>
</div>
	<script type="text/javascript" src="__PUBLIC__/Sj/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Sj/js/index.js"></script>
</body>
</html>