.home{
   min-width:1200px;
   background: #F5F5F5;
}
.content{
  max-width: 1200px;
  height: 480px;
  background: #ffffff;
  margin: 0 auto;
  position: relative;
}
.section-1{
  max-width: 1200px;
  margin: 10px auto;
}
.section-1-top{                    /* 购物信息栏背景图 */ 
  width: 719px; 
  height: 50px;
  background-image:url(../../images/15151321.jpg); 
  margin:left;
}
.section-1-top ul li{                /* 购物信息栏 */ 
  float: left;
  line-height: 50px;
  font-size: 17px;
  padding-right: 55px;
  padding-left: 30px;
  color: #ffffff;
}
.section-2{
	padding-top: 140px;
}
.section-2-box{
	width: 350px; 
	text-align: left;
	margin: 0 auto;
}
.section-2-left{
	float: left;
}
.section-2-box h4{
	padding-bottom: 8px;
}
.section-2-box p{
	line-height: 25px;
}
/* 返回按钮  */
.money-zf{
  width: 300px;
  margin-top: 20px;
} 
.money-zf form label{
  padding-left: 20px;
  cursor:pointer;
}
.money-btn{
  margin: 0 auto;
  text-align: center;
  padding-top:120px;
}
.money-btn a{
  display: inline-block;
  width: 140px;
  height: 37px;
  line-height: 37px;
  font-size: 17px;
  color: #ffffff;
  background:#91110A;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.money-btn a:hover{
  background: #B22222;
}
