<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慈园阁</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/love/love.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/nav.css">
</head>
<body>
	<div class="home">
		<div class="head">
			<div class="head-left">
				<ul>
					<li>欢迎{$Think.session.user_name}来到慈园阁！</li>
					<li><a href="{:U('Login/index')}">登录</a></li>
					<li><a href="{:U('Login/index')}">免费注册</a></li>
				</ul>
			</div>
			<div class="head-right">
				<ul>
					<li><a href="#">手机版 <img src="__PUBLIC__/Home/images/shouji.jpg" alt=""></a></li>
				<li class="head-nav"><a href="#">联系客服 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					    <ul>
					    	<li><a href="#">联系客服</a></li>
					    	<li><a href="#">联系客服</a></li>
					    </ul>
			   </li>
					<li><a href="#"><img src="__PUBLIC__/Home/images/gouwu.jpg" alt="" style="float: left;"> 购物车0件</a></li>
				<li class="head-nav"><a href="#">会员中心 <img src="__PUBLIC__/Home/images/xiala.jpg" alt=""></a>
					   <ul>
					    	<li><a href="#">会员中心</a></li>
					    	<li><a href="#">会员中心</a></li>
					   </ul>
				</li>
				</ul>
			</div>
		 </div>	
		 <div class="head-top">
		 	<div class="head-logo">
		 		<!--奉请热线文字图-->
		 	</div>
		 </div>	
		 <div class="nav">
		 	<include file="Public/menu" /> 
		 </div>
		 <div class="section-1">
		 	<!--主页图-->
		 </div>
	 <!--所有主页内容开始-->
    <div class="content">
		 <div class="section-2">
		 	<!--主页图-->
		 </div>
		 <div class="content-box">
		 <div class="section-3">
		 	<!--主页图-->
		 	<div class="section-box">
		 	   <div class="section-cp-big" style="float: left;">
		 	       <a href=""><img src="__PUBLIC__/Home/images/zcpixiu/156156156.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-big" style="margin-bottom: 10px;">    <!--产品价格背景图-->               
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-big-btn"><a href="">立即奉请</a></div>
		 	       </div>   
		 	       	<a href=""><img src="__PUBLIC__/Home/images/zcpixiu/156156156.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-big">                  
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-big-btn"><a href="">立即奉请</a></div>
		 	       </div>	 	 
		 	   </div>

		 	   <div class="section-cp-box">
		 	       <a href=""><img src="images/zcpixiu/15156115.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-jg">                  
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-small-btn"><a href="">立即奉请</a></div>
		 	       </div>
		 	   </div>
		 	   <div class="section-cp-box">
		 	       <a href=""><img src="__PUBLIC__/Home/images/zcpixiu/15156115.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-jg">                   
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-small-btn"><a href="">立即奉请</a></div>
		 	       </div>
		 	   </div>
		 	   <div class="section-cp-box">
		 	       <a href=""><img src="images/zcpixiu/15156115.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-jg">                  
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-small-btn"><a href="">立即奉请</a></div>
		 	       </div>
		 	   </div>
		 	   <div class="section-cp-box">
		 	       <a href=""><img src="__PUBLIC__/Home/images/zcpixiu/15156115.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-jg">                 
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-small-btn"><a href="">立即奉请</a></div>
		 	       </div>
		 	   </div>
		 	   <div class="section-cp-box">
		 	       <a href=""><img src="__PUBLIC__/Home/images/zcpixiu/15156115.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-jg">                  
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-small-btn"><a href="">立即奉请</a></div>
		 	       </div>
		 	   </div>
		 	   <div class="section-cp-box">
		 	       <a href=""><img src="__PUBLIC__/Home/images/zcpixiu/15156115.jpg" alt=""></a>  <!--产品图-->
		 	       <div class="section-cp-box-jg">                  
		 	       	  <a href="">啊啊啊啊啊啊啊啊啊啊啊啊啊</a><br/>
		 	       	  <div class="section-small-btn"><a href="">立即奉请</a></div>
		 	       </div>
		 	   </div>
		   </div>
		 </div>
		 <div class="section-4">
		 <!--产品-->
		 </div>
		 <div class="section-5">
		 <!--产品-->
		 </div>
		 <div class="section-6">
		 <!--产品-->
		 </div>
      </div>
      <!--content-box产品结束-->
		 <div class="section-7">
		 	<!--主页图-->
		 	<p>每个女生都希望拥有专属于自己的完美爱情，慈园阁姻缘桃花饰品愿为<br/>
            缘主的爱情插上一双翅膀，助缘主在爱情的天空展翅翱翔！</p>
		 </div>
		 <div class="section-8">
		 	<!--主页图-->
		 </div>
      <!--content-box产品宽结束-->
		 <div class="section-9">
		 	 <div class="section-9-box">
		 	 <!--主页图-->
		     </div>
		 </div>
    </div>
    <!--所有主页内容结束-->
		<!--引入脚部-->
		<include file="Public/footer" /> 

		 <p class="footer-end">慈园阁十二生肖本命佛</p><br/>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>