*{padding: 0;margin: 0;box-sizing: border-box;-webkit-box-sizing: border-box;
  list-style:none;text-decoration:none;letter-spacing: 1px;
} 
body{
  min-width: 320px;
  background-color: #f0efed;
}
.home{
   margin: 0 auto;
}
.section-rmb{                               /*产品￥符号大小*/
  font-size: 0.7rem;
  color: #ed5f86;
}
.section-jg{                                 /*产品价格*/
  font-size: 0.9rem;
  color: #ed5f86;
}
.section-yj{                                /*产品原价大小*/
  font-size: 0.5rem;
  text-decoration: line-through;
  color: rgba(57,64,80,.4);
}
.head-top{                                /*顶部名称*/
  height: 2rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  background: #ffffff;
  line-height: 2rem;
}
.head-top h2{
  font-size: 0.8rem;
  color: #333333;
  font-family:"SimHei","SimSun","SimHei","Microsoft YaHei";
}
.section1{
  margin:0.1.5rem 0;
  width:100%;
}
.section1 img{                         /*顶部轮播图片*/
  width: 100%;
}
.section2{
  padding: 0 0 30px 10px;
  background: #ffffff;
}
.section2-top{
  padding:0 0 10px 0;
  border-bottom: 2px solid #f3f3f3;
}
.section2-top{                         /*h4产品标题和描述p上下排序  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2-top h4{                    /*产品名称*/
  font-size: 0.65rem;
  margin: 10px 0 0 0;
}
.section2-top p{                     /*产品描述*/
  padding: 10px 0;
  font-size: 0.5rem;
  color: #5f6874;
}
#section2-sx span{                   /*生肖产品框*/
  display: inline-block;
  margin: 5px 0;
  width: 40px;
  height: 40px;
  font-size: 0.45rem;
  text-align: center;
  line-height: 40px;
  border: 1px solid #b8b7bd;
  cursor: pointer;
}
.section2-sx-border{
  border: 1px solid #e7c981 !important;
  color: #e7c981;
}
.section3{
  background: #ffffff;
  margin-bottom: 50px;
}
.section3 img{
  width: 100%;
}  


      @media screen and (min-width:320px) and ( max-width:568px){
               html{
                font-size:26px;
              }
        }
      @media screen and (min-width:411px) and ( max-width:736px){
            html{
                font-size:30px;
              }

        }
      @media screen and (min-width:737px) and ( max-width:1023px){
             html{
                font-size:35px;
              }

        }
      @media screen and (min-width:1024px) and ( max-width:1366px){
               html{
                font-size:50px;
              }
        }
        @media screen and (min-width:1367px){
             html{
                font-size:34px;
              }
               .section-bottom-btn{
                max-width: 800px;
               }
               .home{
                max-width: 800px;
            }
    }
    

