*{padding: 0;margin: 0;list-style-type:none; text-decoration:none;}
.color-red{
	font-weight: bolder;          /*深红*/
	color: #ff0000;
}
.color-red1{                      /*暗红*/
	font-weight: bolder;
	color: #86282d;
}
/*顶部菜单*/
.head{
	height: 30px;
	background: #F5F5F5;
}
.head ul li a:hover{
    color: #F40;
}
.head ul li a{
    color:#999999;
    font-size: 14px;
    text-decoration:none;
}
.head-left ul{
	padding-left: 15%;
	line-height: 30px;
}
.head-right ul{
	padding-right: 15%;
	line-height: 30px;
}
.head-left ul li{
    float: left;
    padding-left: 30px;
}
.head-right ul li{
    float: right;
    padding-right: 30px;
    position: relative;
}

/*二级菜单*/
.head-nav ul{      /* 顶部二级菜单  */
	width: 120px;
	height: 80px;
	background:#F7F7F7;
	border: 1px solid #cccccc;
	position: absolute;
	display: none;
}
.head-right img{
    float: right;
}
.head-top{
	height: 100px;
	background-image:url(../images/nav.jpg);             /*logo背景图*/
}
.head-logo{
	height: 74px;
	background-image:  url(../images/logo.png);   /*奉请热线文字图*/
	background-repeat:no-repeat;
    background-position:center;
}
.nav{
	background: #633900;
	height: 50px;
}
.nav ul{
	max-width: 1200px;
	margin: 0 auto;
}
.nav ul li{
	float: left;
	line-height: 50px;
    margin-left: 60px;
    text-align: center;
}
.nav ul a{
	display:inline-block;
	width: 140px;
	height:50px;
	color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}
.nav ul li a:hover{
	background:#CC9900;
}
.active a{
	background: #CC9900;
}
 /* 左边固定菜单  */
 .sx-left{
 	position: fixed;
 	z-index: 1000;
 	left: 10px;
 }
.sx-left-top{
	width: 150px;
	height: 356px;
    background-image:  url(../images/nav/left.png);	
}
.sx-left-ul{
	position: absolute;
	top:85px;
	left: 5px;
}
.sx-left-ul li{
	float: left;
	text-align: center;
}
.sx-left-ul li h4{
	color: #f40000;
	font-family: "SimHei","SimSun","Microsoft YaHei";
	padding-bottom: 8px;
}
.sx-left-li-x{                      /*左边关闭按钮*/
   font-size: 14px;
   color: #f40000;
   position: absolute;
   bottom: -20px;
   right: 10px;
}
 /* 左边固定菜单结束  */

/* 右边固定菜单 */
.sx-right{
	position: fixed;
 	z-index: 1000;
 	right: 10px;
}
.sx-right-top{
	width: 150px;
	height: 440px;
    background-image:  url(../images/nav/right.png);		
}
.sx-right-ul-1{                /*右边导航顶部文字  */
	position: absolute;
	top:110px;
	right: 15px;	
}
.sx-right-ul-1 li{
	font-family: "SimHei","SimSun","Microsoft YaHei";
	text-align: center;
	color: #c42423;
	padding:2px 0; 
}
.sx-right-ul-2{                 /*右边导航底部文字  */
	position: absolute;
	bottom: 38px;
	right: 15px;
}
.sx-right-ul-2 li{
	font-family: "SimHei","SimSun","Microsoft YaHei";
	text-align: center;
	font-size: 14px;
	padding: 3.5px 0;
}
.sx-right-ul-2 h3{
    color: #ffffff;
}
.sx-right-ul-2 h4{
	color: #ffffff;
}
.sx-right-ul-3{           /*右边返回顶部和关闭按钮  */
	position: absolute; 
	bottom: 8px;	
	right:10px;
}
.sx-right-ul-3 li{         /*右边返回顶部和关闭按钮li  */
	float: left;
	padding-left: 28px;
}
.sx-right-ul-3 li a{       /*右边返回顶部和关闭按钮  */
	color: #f40000;
	font-size: 14px;
}
/* 右边固定菜单结束 */

.footer{
	max-width: 1200px;
	margin: 0 auto;
	height: 160px;
	padding-top: 30px;
	background: #ffffff;
}
/*.footer-box ul{
	padding-left: 5%;
}*/
.footer-box ul li{
	float: left;
	padding-left: 40px;
}
.footer-box h4{
	color: #633816;
	margin-bottom: 5px;
}
.footer-box ul li a{
	font-size: 14px;
	color: #8D6241;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-box ul li a:hover{
	color: #ff0000;
}
.footer-box2{
	float: right;
	/*padding-right: 20%;*/
}
.footer-box2 h4{
	color: #8D6241;
}
.footer-box2-wx{
	width: 230px;
	height: 110px;
	margin-top: 20px;
}
.footer-wx-span{
	float:left;
	width: 115px;
	height: 95px;
	padding-right: 10px;
	color: #8D6241; 
}
.footer-end{
	text-align: center;
	color:#888888;
}



