		   <!-- 包含头部 -->
  <include file="Public/header" />
  <div class="section-1">
    <div class="section-1-top">
		  <ul>
		 	<li>购物车</li>
		 	<li>填写收货地址</li>
		 	<li>支付订单</li>
		 	<li>支付成功</li>
		  </ul>
	 </div>
  </div> 
  <div class="content">   <!--内容白色背景-->
    <div class="section-2">
        <div class="section-2-box">
            <div class="section-2-left">
            <img src="__PUBLIC__/Home/images/15166664.jpg" alt="">
            </div>
                <h4>购物车添加成功</h4>

               
                <p>请保持电话畅通。</p>
        </div>
   
        
           
     </div>

         <div class="money-btn"><a href="{:U('Index/index')}">返回首页</a> <a href="{:U('Cart/gwcart')}">点击查看购物车</a>  <a href="javascript:" onclick="window.history.go(-1)">点击返回上一页</a></div> 
   </div>
</div>
<div style="height: 80px;background:#F5F5F5;"></div>
<include file="Public/footer" />