<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$relogin}</title>
</head>
<body>
	<a href="{:U(index)}">登录</a>
	<h1>{$relogin}</h1>
	<form action="{:U('Wjsadmin/Login/relogin')}" method="post">
	<div>	
	
			后台账号:
			<p><input type="text" name="username" id="username"></p>
			密码:
			<p><input type="passowrd" name="password" id="password"></p>
			确认密码:
			<p><input type="passowrd" name="pwd" id="pwd"></p>	
			手机:
			<p><input type="text" name="phone" id="phone"></p>
			微信或QQ：
			<p><input type="text" name="wechat" id="wechat"></p>
			邮箱：
			<p><input type="text" name="email" id="email"></p>
			姓名:
			<p><input type="text" name="name" id="name"></p>
			验证码:
			<p><input type="text" name="yzm" id="yzm"></p>
			<span><img src="{:U('Wjsadmin/Login/yzm')}" onclick="this.src=this.src+'?'" /></span>
			<p><input type="submit"></p>
	</div>
	</form>
</body>
</html>