<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" href="__PUBLIC__/Sj/css/sjjxw/sjjxw.css">
        <link rel="stylesheet" href="__PUBLIC__/Sj/css/cpnav.css">
        <link rel="stylesheet" href="__PUBLIC__/Sj/css/swiper.min.css">
    <title>Document</title>
</head> 
<body>
<div class="home">
   <header class="head-top">
    <h2>慈园阁</h2>
   </header>

<section class="section1">
 <div class="device">
    <a class="arrow-left" href="#"></a> 
    <a class="arrow-right" href="#"></a>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src="__PUBLIC__/Sj/images/25162826.jpg"> </div>
        <div class="swiper-slide"> <img src="__PUBLIC__/Sj/images/25162826.jpg"> </div>
        <div class="swiper-slide"> <img src="__PUBLIC__/Sj/images/25162826.jpg"> </div>
      </div>
           <!-- 分页器 -->
    <div class="swiper-pagination swiper-pagination-black"></div>
    
    <!-- 导航按钮 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->
    </div>
  </div>
 </section>
        <section class="section3">  
               <h2>属鼠吉祥物</h2>
                <div class="section3-box">                 
                     <ul class="section3-box-content">
                      
                      <li class="section3-li1"> 
                        <a href="">
                            <div class="section3-li1-img"><img src="__PUBLIC__/Sj/images/6450654.jpg" alt=""></div>
                            <div class="section3-li1-content">
                                 <p class="section-li-cp-name">黑曜石本命佛</p>                        
                                 <div>
                                  <span class="section-li-cp-rmb">￥</span><span class="section-li-cp-jg">998</span>
                                 </div>
                            </div>
                         </a>
                       </li>

                      <li class="section3-li1"> 
                        <a href="">
                            <div class="section3-li1-img"><img src="__PUBLIC__/Sj/images/6450654.jpg" alt=""></div>
                            <div class="section3-li1-content">
                                 <p class="section-li-cp-name">黑曜石本命佛</p>                        
                                 <div>
                                  <span class="section-li-cp-rmb">￥</span><span class="section-li-cp-jg">998</span>
                                 </div>
                            </div>
                         </a>
                       </li>

                      <li class="section3-li1"> 
                        <a href="">
                            <div class="section3-li1-img"><img src="__PUBLIC__/Sj/images/6450654.jpg" alt=""></div>
                            <div class="section3-li1-content">
                                 <p class="section-li-cp-name">黑曜石本命佛</p>                        
                                 <div>
                                  <span class="section-li-cp-rmb">￥</span><span class="section-li-cp-jg">998</span>
                                 </div>
                            </div>
                         </a>
                       </li>

                      <li class="section3-li1"> 
                        <a href="">
                            <div class="section3-li1-img"><img src="__PUBLIC__/Sj/images/6450654.jpg" alt=""></div>
                            <div class="section3-li1-content">
                                 <p class="section-li-cp-name">黑曜石本命佛</p>                        
                                 <div>
                                  <span class="section-li-cp-rmb">￥</span><span class="section-li-cp-jg">998</span>
                                 </div>
                            </div>
                         </a>
                       </li>

                      <li class="section3-li1"> 
                        <a href="">
                            <div class="section3-li1-img"><img src="__PUBLIC__/Sj/images/6450654.jpg" alt=""></div>
                            <div class="section3-li1-content">
                                 <p class="section-li-cp-name">黑曜石本命佛</p>                        
                                 <div>
                                  <span class="section-li-cp-rmb">￥</span><span class="section-li-cp-jg">998</span>
                                 </div>
                            </div>
                         </a>
                       </li>

                      <li class="section3-li1"> 
                        <a href="">
                            <div class="section3-li1-img"><img src="__PUBLIC__/Sj/images/6450654.jpg" alt=""></div>
                            <div class="section3-li1-content">
                                 <p class="section-li-cp-name">黑曜石本命佛</p>                        
                                 <div>
                                  <span class="section-li-cp-rmb">￥</span><span class="section-li-cp-jg">998</span>
                                 </div>
                            </div>
                         </a>
                       </li>
                    </ul>
                </div> 
        </section><br/>

          <!--固定导航-->
        <div class="section-bottom-btn">
             <a class="section-bottom-btn-kf" href="">
             <img src="__PUBLIC__/Sj/images/151561615.png" alt="">
             <span>客服</span>
             </a>
             <a class="section-bottom-btn-gw" href="">
                 <img src="__PUBLIC__/Sj/images/1561561561.png" alt="">
                 <span>购物车</span>
             </a>
             <span class="section-bottom-btn3"><a href="">加入购物车</a></span>
             <span class="section-bottom-btn4"><a href="">立即奉请</a></span>
        </div>

    </div>
         <script src="__PUBLIC__/Sj/js/swiper.min.js"></script>
         <script type="text/javascript">

      var swiper = new Swiper('.swiper-container', {
        pagination : '.swiper-pagination',
        paginationClickable :true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplayDisableOnInteraction : false
    });
  /*$('.arrow-left').on('click', function(e){
    e.preventDefault()
    mySwiper.swipePrev()
  })
  $('.arrow-right').on('click', function(e){
    e.preventDefault()
    mySwiper.swipeNext()
  })*/
    </script>
</body>
</html>